<style>
  .store {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.6rem, 1fr));
    gap: 10px;
  }
</style>
<div class="store">
  <%- include('partials/product-card') %>
  <%- include('partials/product-card') %>
  <%- include('partials/product-card') %>
  <%- include('partials/product-card') %>
  <%- include('partials/product-card') %>
</div>